/*
    Components: Header
    ---
    The header of the website
*/

.c-header-row {
    background-color: palette(color-alpha);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all $animation-duration-beta $animation-easing-alpha;
    @include padding-tb($alpha-leading, $alpha-leading);

    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2, $alpha-leading * 2);

        &.shrink {
            @include padding-tb($alpha-leading,$alpha-leading);

            .is-exiting & {
                background-color: transparent;
                @include padding-tb($alpha-leading * 2, $alpha-leading * 2);
            }
        }
    }
}

.c-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq(bp4) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
