/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer {
    border-top: 1px solid palette(color-neutral,xx-dark);
}

.c-footer-link {
    &,
    &:visited {
        //text-decoration: underline;
        font-weight: $delta-font-weight;
        color: palette(color-neutral,xxxx-light);
    }

    &:hover {
        text-decoration: none;
        opacity: .75;
        color: palette(color-neutral,xxxx-light);
    }
}
