/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav-main {
    display: none;
    width: 100%;
    height: 0;
    align-items: center;

    @include mq(bp4) {
        display: flex;
        width: auto;
        height: auto;
        @include padding-left($columns-gutter * 2);
    }

    &.is-visible {
        display: flex;
        height: calc(100vh - 5rem);

        @include mq(bp4) {
            height: auto;
        }
    }
}

    .c-nav-main__list {
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;

        @include mq(bp4) {
            border: 0;
            flex-direction: row;
        }
    }

    .c-nav-main__item {

        @include mq(bp4) {
            & + & {
                @include margin-left($columns-gutter);
            }
        }
    }

    .c-nav-main__link {
        display: block;
        color: palette(color-alpha);
        text-decoration: none;

        @include mq(bp4) {
            @include text-dimensions($ms-1,1);
        }

        &,
        &:visited {
            color: $color-gamma;
        }

        &:hover,
        &:focus,
        .is-selected & {
            text-decoration: none;
            color: palette(color-beta);
        }
    }

.c-nav-main-trigger {
    user-select: none;
    display: block;
    color: palette(color-alpha);
    outline: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    &.is-active {
        color: palette(color-neutral);
    }

    @include mq(bp4) {
        display: none;
    }
}

$trigger-line-height:        3px;
$trigger-line-offset:        .475rem;
$trigger-color:              palette(color-neutral,xx-dark);
$trigger-active-color:       palette(color-neutral,xx-dark);
$trigger-animation-duration: $animation-duration-gamma;

.c-nav-main-trigger__icon {
    position: relative;
    display: block;
    width: 1.5rem;
    height: $trigger-line-height;
    background-color: $trigger-color;
    transition-property: all;
    transition-duration: $trigger-animation-duration;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: $trigger-line-height;
        position: absolute;
        background-color: $trigger-color;
        transition-property: all;
        transition-duration: $trigger-animation-duration;
    }

    &:before {
        transform: translateY($trigger-line-offset * -1);
    }

    &:after {
        transform: translateY($trigger-line-offset);
    }

    .c-nav-main-trigger.is-active & {
        transform: rotate(45deg);

        &:before {
            transform: rotate(90deg);
        }

        &:after {
            transform: rotate(90deg);
        }
    }
}
