/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer {
    border-top: 1px solid palette(color-neutral,xx-dark);
}

    .c-footer__logo {
        height: 40px;
        width: auto;
        opacity: .5;
    }
