/*
    Components: Main
    ---
    Main content section of the website
*/

@keyframes mainTransitionIn {
    0% {
            opacity: 0;
            transform: translateY($alpha-leading * 1rem);
    }

    100% {
            opacity: 1;
            transform: translateY(0);
    }
}

@keyframes mainTransitionOut {
    0% {
            opacity: 1;
            transform: translateY(0);
    }

    100% {
            opacity: 0;
            transform: translateY($alpha-leading * 1rem);
    }
}

.c-main {
    backface-visibility: hidden;
    animation-fill-mode: both;
    animation-duration: $animation-duration-alpha;
    animation-name: mainTransitionIn;
    animation-timing-function: $animation-easing-alpha;

    .is-exiting & {
        animation-name: mainTransitionOut;
    }
}

.c-main--page {
    @include padding-top(5);

    @include mq(bp3) {
        @include padding-top(8);
    }
}

.c-main--home {
    @include padding-top(5);

    @include mq(bp3) {
        @include padding-top(8);
    }

    @include mq(bp4) {
        padding-top: 0;
    }
}

.c-main-section {
    @include mq(bp3) {
        & + & {
            @include padding-top($alpha-leading);
        }
    }
}
