/*
    Components: Intro
    ---
    Site intro
*/

.c-intro {

    @include mq(bp3) {
        background: transparent url(../img/svg/visual.svg) bottom 0 left 0 no-repeat;
        background-size: auto 16rem;
        @include padding-bottom(20);
    }

    @include mq(bp5) {
        min-height: 700px;
        height: calc(100vh - 4rem);
        display: flex;
        align-items: center;
        padding-bottom: 0;
        //background-size: 50%;

        .o-container {
            margin-left: 0;
            width: 100%;
        }
    }
}

.c-intro__block {
    @include mq(bp5) {
        margin-left: auto;
    }
}
