/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    @include clearfix;
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);

    @include mq(bp3) {
        @include padding-lr($columns-gutter * 2, $columns-gutter * 2);
    }
}

.c-row--sm {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2, $alpha-leading);
    }
}

.c-row--md {
    @include mq(bp3) {
        @include padding-tb($alpha-leading * 2, $alpha-leading);
    }

    @include mq(bp4) {
        @include padding-tb($alpha-leading * 3, $alpha-leading * 2);
    }
}

.c-row--lg {
    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp6) {
        @include padding-tb(6,5);
    }
}

.c-row--xl {
    @include mq(bp3) {
        @include padding-tb(4,3);
    }

    @include mq(bp5) {
        @include padding-tb(12,13);
    }
}

.c-row--top {
    padding-top: 0;

    @include mq(bp3) {
        padding-top: 0;
    }
}
