<div class="c-row c-row--lg c-cta u-bgcolor-neutral-xxx-dark u-z-delta">
    <div class="o-container">
        <div class="o-grid o-grid--gutter o-flex o-flex--wrap">
            <div class="o-grid__item u-1-of-2-bp4 c-cta__section">
                <div class="u-max-width-md u-color-neutral-x-light">
                    <h2 class="u-mb-gamma u-color-neutral-xxx-light">
                        Komt dat zien!
                    </h2>
                    <p>
                        Verzamel je vrienden, collega’s en (levens)partners om te kijken naar ons machien. Op <strong class="u-color-neutral-xxx-light">6 mei in het Entrepot</strong> vanaf <strong class="u-color-neutral-xxx-light">19u30</strong> steken we hem in gang.
                    </p>
                    <p>
                        <a href="https://www.facebook.com/events/250560768608210/" class="c-button c-button--beta-dark c-button--lg">
                            Kom kijken
                        </a>
                    </p>
                </div>
            </div>
            <div class="o-grid__item u-1-of-2-bp4 c-cta__section">
                <div class="u-color-neutral-x-light">
                    <h2 class="u-mb-jota u-color-neutral-xxx-light">
                        Zij doen al zeker mee:
                    </h2>
                    <ul class="o-list o-flex o-flex--wrap c-participants">
                        <li class="c-participants__item">
                            <a class="c-participants__link" href="https://www.facebook.com/ecofablab/">
                                <img src="img/logos/logo-ecofablabbrugge.png" alt="Logo Ecofablab Brugge" class="c-participants__logo">
                            </a>
                        </li>
                        <li class="c-participants__item">
                            <a class="c-participants__link" href="http://www.handmadeinbrugge.be/">
                                <img src="img/logos/logo-handmade.png" alt="logo Handmade in Brugge" class="c-participants__logo">
                            </a>
                        </li>
                        <li class="c-participants__item">
                            <a class="c-participants__link" href="http://academiebruggedko.be/">
                                <img src="img/logos/logo-dko.png" alt="logo Handmade in Brugge" class="c-participants__logo">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
