<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <!-- <li class="c-nav-main__item {% if page.url contains "index" %}is-selected{% endif %}">
            <a href="index.html" class="c-nav-main__link">home</a>
        </li> -->
        <li class="c-nav-main__item {% if page.url contains "index" %}is-selected{% endif %}">
            <a href="index.html" class="c-nav-main__link">Home</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "bouwen" %}is-selected{% endif %}">
            <a href="zelf-bouwen.html" class="c-nav-main__link">Zelf bouwen</a>
        </li>
        <li class="c-nav-main__item {% if page.url contains "machien" %}is-selected{% endif %}">
            <a href="achter-het-machien.html" class="c-nav-main__link">Achter het machien</a>
        </li>
        <li class="c-nav-main__item c-nav-main__item--cta">
            <a href="https://docs.google.com/forms/d/1mFNV_WxEXZg1geVAobCd2vkAuOPxyhhTm5n9KWr0uSs/viewform" class="c-nav-main__link c-nav-main__link--cta">Schrijf in</a>
        </li>
    </ul>
</nav>
