<div class="c-row c-row--lg u-bgcolor-neutral-xxx-dark u-z-delta">
    <div class="o-container">
        <div class="u-max-width-md u-align-horizontal u-text-align-center u-color-neutral-x-light">
            <h2 class="u-mb-gamma u-color-neutral-xxx-light">
                Zin om mee te bouwen?
            </h2>
            <p>
                Verzamel je vrienden, collega’s en (levens)partners om deel te worden van Machien. Laat je gegevens na en krijg een plekje tijdens het Machien-evenement op <strong class="u-color-neutral-xxx-light">6 mei in het Entrepot</strong>
            </p>
            <p>
                <a href="https://docs.google.com/forms/d/1mFNV_WxEXZg1geVAobCd2vkAuOPxyhhTm5n9KWr0uSs/viewform" class="c-button c-button--beta-dark c-button--lg">
                    Schrijf in
                </a>
            </p>
        </div>
    </div>
</div>
